@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-barlow: var(--font-barlow);
}


@theme static{
    --blue-dark-900: #008ECB;
    --blue-dark-800: #07BCFF;
    --blue-light-900: #6ED8FF;
    --green-dark: #2AB163;
    --green-default: #41DD83;
    --green-light:#79ECAA;

    --neutral-color-600:#CDD1D6;
    --neutral-color-500: #A6AEB8;
    --neutral-color-400:#7C8999;
    --neutral-color-300:#475567;
    --neutral-color-200:#29394A;
    --neutral-color-100:#0A1D2E;

    --max-width-containerGRID: 78rem;
}
