@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-barlow: var(--font-barlow);
}


@theme static{
    --color-blue-dark-900: #008ECB;
    --color-blue-dark-800: #07BCFF;
    --color-blue-light-900: #6ED8FF;
    --color-green-dark: #2AB163;
    --color-green-default: #41DD83;
    --color-green-light:#79ECAA;

    --color-neutral-color-600:#CDD1D6;
    --color-neutral-color-500: #A6AEB8;
    --color-neutral-color-400:#7C8999;
    --color-neutral-color-300:#475567;
    --color-neutral-color-200:#29394A;
    --color-neutral-color-100:#0A1D2E;

    --max-width-containerGRID: 78rem;
}


body{
  background-color: #171717;
}

button{
  cursor: pointer !important;
}